body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 33px;
}

// overflow
.ov-hidden {
    overflow: hidden;
}

// image
.img-filter {
    filter: grayscale(100%);
    transition: all 0.4s ease-in;
    &:hover {
        filter: grayscale(0);
    }
}

.img-responsive {
    max-width: inherit;
    width: 100%;
    clip: rect(10px, 190px, 190px, 10px);
}

.img-thumb {
    height: 50px;
    width: 50px;
}

.h-square {
    height: 200px;
    overflow: hidden;
}

.over {
    height: 400px;
    overflow: hidden;
}

// border radius
.radius-4 {
    border-radius: 4px;
}

.radius-7 {
    border-radius: 7px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-33 {
    border-radius: 33px;
}

.radius-53 {
    border-radius: 53px;
}

// scale
.scale {
    transition: all ease-in 0.5s;
    cursor: pointer;
}

.scale:hover {
    transform: scale(1.2);
}

// padding all
.p-4 {
    padding: (4/1280) * 100%;
}

.p-7 {
    padding: (7/1280) * 100%;
}

.p-12 {
    padding: (12/1280) * 100%;
}

.p-20 {
    padding: (20/1280) * 100%;
}

.p-33 {
    padding: (33/1280) * 100%;
}

.p-53 {
    padding: (53/1280) * 100%;
}

// margin all
.m-4 {
    margin: (4/1280) * 100%;
}

.m-7 {
    margin: (7/1280) * 100%;
}

.m-12 {
    margin: (12/1280) * 100%;
}

.m-20 {
    margin: (20/1280) * 100%;
}

.m-33 {
    margin: (33/1280) * 100%;
}

.m-53 {
    margin: (53/1280) * 100%;
}

// margin top
.mt-0 {
    margin-top: 0;
}

.mt-4 {
    margin-top: (4/1280) * 100%;
}

.mt-7 {
    margin-top: (7/1280) * 100%;
}

.mt-12 {
    margin-top: (12/1280) * 100%;
}

.mt-20 {
    margin-top: (20/1280) * 100%;
}

.mt-33 {
    margin-top: (33/1280) * 100%;
}

.mt-53 {
    margin-top: (53/1280) * 100%;
}

// Margin Bottom
// space
.mb-4 {
    margin-bottom: (4/1280) * 100%;
}

.mb-7 {
    margin-bottom: (7/1280) * 100%;
}

.mb-12 {
    margin-bottom: (12/1280) * 100%;
}

.mb-20 {
    margin-bottom: (20/1280) * 100%;
}

.mb-33 {
    margin-bottom: (33/1280) * 100%;
}

.mb-53 {
    margin-bottom: (53/1280) * 100%;
}

// Margin Right
.mr-4 {
    margin-right: (4/1280) * 100%;
}

.mr-7 {
    margin-right: (7/1280) * 100%;
}

.mr-12 {
    margin-right: (12/1280) * 100%;
}

.mr-20 {
    margin-right: (20/1280) * 100%;
}

.mr-33 {
    margin-right: (33/1280) * 100%;
}

.mr-53 {
    margin-right: (53/1280) * 100%;
}

// Margin Left
.ml-4 {
    margin-left: (4/1280) * 100%;
}

.ml-7 {
    margin-left: (7/1280) * 100%;
}

.ml-12 {
    margin-left: (12/1280) * 100%;
}

.ml-20 {
    margin-left: (20/1280) * 100%;
}

.ml-33 {
    margin-left: (33/1280) * 100%;
}

.ml-53 {
    margin-left: (53/1280) * 100%;
}

// Typhography
h1 {
    font-size: 33px;
    line-height: 58px;
    margin-bottom: 33px;
}

.title {
    font-size: 33px;
    line-height: 71px;
    margin-bottom: 33px;
}

.big-title {
    font-size: 53px;
    line-height: 71px;
    margin-bottom: 33px;
}

h2 {
    font-size: 26px;
    line-height: 47px;
    margin-top: 53px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    line-height: 38px;
    margin-top: 33px;
    margin-bottom: 12px;
}

h4 {
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 7px;
}

p,
ul,
ol,
blockquote,
pre,
.alert,
.note,
.box,
.footnotes {
    margin-bottom: 33px;
}

ul,
ol {
    margin-left: 33px;
}

li {
    margin-bottom: 12px;
}

blockquote {
    padding-left: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0 0 0 7px;
}

sub,
sup {
    padding: 0 1px;
}

code,
pre,
kbd {
    font-size: 15px;
}

code {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3px 4px;
    border-radius: 7px;
    margin: 0 1px;
}

pre {
    padding: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0 0 0 7px;
}

kbd {
    background-color: #fff;
    padding: 3px 4px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.45);
    margin: 0 1px;
}

.alert,
.note,
.box {
    padding: 20px;
}

.footnotes {
    font-size: 13px;
    line-height: 28px;
    padding-top: 20px;
    border-top: 1px dotted rgba(0, 0, 0, 0.15);
}

.footnotes p {
    margin-bottom: 20px;
}

ul ul,
ul ol,
ol ul,
ol ol,
blockquote.right p,
blockquote.left p,
.alert :last-child,
.note :last-child,
.box :last-child,
.footnotes :last-child {
    margin-bottom: 0;
}

// font-weight
.fw-light {
    font-weight: lighter;
}

.fw-normal {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

// Text Center
.align-center {
    text-align: center;
}

// btn-link
.btn-link {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    transition: all 0.2s ease;
    &:hover {
        color: rgb(31, 170, 54);
    }
}

//btn-form
.btn-email {
    background: transparent;
    text-transform: uppercase;
    outline: none;
    border: 1px solid rgb(222, 224, 223);
    color: rgb(206, 206, 206);
    padding: 10px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3 linear;
    &:hover {
        background: rgb(222, 224, 223);
        color: rgb(30, 31, 30);
    }
}

// btn-contact
.btn-contact {
    outline: none;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background: rgb(30, 31, 30);
    color: rgb(222, 224, 223);
    cursor: pointer;
    transition: all 0.4 ease-in;
    border-radius: 5px;
    display: inline-block;
    &:hover {
        background: rgb(36, 36, 36);
    }
}

// btn-sub
.btn-sub {
    outline: none;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background: rgb(222, 224, 223);
    color: rgb(30, 31, 30);
    cursor: pointer;
    transition: all 0.4 ease-in;
    border-radius: 5px;
    display: inline-block;
    &:hover {
        background: rgb(206, 206, 206);
    }
}

// Grid System
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    padding: ((20/1200) * 100%) 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cols {
    flex: 1;
}

[class^='col'] {
    content: ' ';
    margin: 10px (2.75%/2);
}

.col-md-hidden,
.col-xs-hidden {
    margin: 0;
}

@for $i from 1 through 12 {
    .col#{$i} {
        width: (100%/ (12 / $i))-2.75%;
    }
}

@media screen and(max-width:540px) {
    @for $i from 1 through 12 {
        .col#{$i} {
            width: 100%;
        }
    }
}

@media screen and(max-width:1080px) {
    @for $i from 1 through 12 {
        .col#{$i}-md {
            width: (100%/ (12 / $i))-1%;
        }
    }
    .col-md-hidden {
        display: none;
        margin: 0;
    }
}

@media screen and(max-width:540px) {
    @for $i from 1 through 12 {
        .col#{$i}-xs {
            width: (100%/ (12 / $i))-1%;
        }
    }
    .col-xs-hidden {
        display: none;
        margin: 0;
    }
}

// slide
.slides {
    position: relative;
    height: 600px;
    @media screen and(max-width: 1080px) {
        top: 30%;
        height: 400px;
    }
    @media screen and(max-width:540px) {
        top: 30%;
        height: 550px;
    }
}

#slide1,
#slide2,
#slide3,
#slide4 {
    display: none;
}

.slide1,
.slide2,
.slide3,
.slide4 {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: all ease-in 0.2s;
}

#slide1:checked~.slide1 {
    opacity: 1;
}

#slide2:checked~.slide2 {
    opacity: 1;
}

#slide3:checked~.slide3 {
    opacity: 1;
}

#slide4:checked~.slide4 {
    opacity: 1;
}

.controller {
    position: absolute;
    bottom: 30%;
    left: 1.7%;
    z-index: 3;
    @media screen and(max-width: 1080px) {
        bottom: 30%;
    }
    @media screen and(max-width:540px) {
        bottom: 10%;
    }
}

.controller label {
    margin-right: 12px;
}

.controller label img {
    transition: all ease-in 0.2s;
    opacity: 0.7;
    border: 2px solid white;
}

.controller label img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#slide1:checked~.controller label:nth-child(1) img {
    transform: scale(1.2);
    opacity: 1;
    border-color: #333;
}

#slide2:checked~.controller label:nth-child(2) img {
    transform: scale(1.2);
    opacity: 1;
    border-color: #333;
}

#slide3:checked~.controller label:nth-child(3) img {
    transform: scale(1.2);
    opacity: 1;
    border-color: #333;
}

#slide4:checked~.controller label:nth-child(4) img {
    transform: scale(1.2);
    opacity: 1;
    border-color: #333;
}

// Menu
.nav {
    padding: 0 (2.75%/2);
    display: flex;
    align-items: center;
    &-logo {
        width: 20%;
        h1 {
            margin: 0;
            padding: 0;
            a {
                text-decoration: none;
                color: rgb(31, 170, 54);
            }
        }
    }
    &-menu {
        width: 80%;
        display: flex;
        align-items: center;
        &_link {
            width: 70%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                li {
                    a {
                        display: block;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: rgb(31, 170, 54);
                        margin-top: 10px;
                        &.active {
                            font-weight: bold;
                        }
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &_social {
            width: 30%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    a {
                        display: block;
                        padding: 10px;
                        margin-top: 15px;
                        img {
                            width: 32px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1080px) {
    .nav {
        flex-wrap: wrap;
    }
    .nav-logo {
        width: 100%;
    }
    .nav-menu {
        display: none;
        left: 5%;
        top: 60px;
        background: white;
        z-index: 6;
        padding: 10px;
        position: absolute;
        width: 88%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        &_link {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    a {
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }
        }
        &_social {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
    .nav-menu_link,
    .nav-menu_social {
        width: 100%;
    }
}

#menucheck {
    display: none;
}

.navigator {
    display: none;
    position: absolute;
    top: 22px;
    right: 6.275%;
    img {
        width: 32px;
    }
}

@media screen and(max-width:1080px) {
    .navigator {
        display: block;
    }
}

@media screen and(max-width:540px) {
    .navigator {
        display: block;
    }
}

#menucheck:checked~.nav-menu {
    display: block;
}

// Feature
.hero-feature {
    background: rgb(30, 31, 30);
    color: rgb(222, 224, 223);
    margin-top: -100px;
}

// Footer
.footer {
    background: rgb(51, 50, 50);
    color: rgb(222, 224, 223);
    &-menu,
    &-mode {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        cursor: pointer;
        a {
            text-decoration: none;
            color: rgb(206, 206, 206);
        }
    }
    &-form {
        input {
            border: 1px solid rgb(222, 224, 223);
            padding: 10px;
            outline: none;
            background: rgb(30, 31, 30);
            color: rgb(206, 206, 206);
        }
    }
}